@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap');
@font-face {
    font-family: 'Raleway';         /** Importation des fonts **/
    src: url('../fonts/Raleway.ttf');
} 

html {        
}

header { /**Style du Header**/
    text-align: center;
}

body { /** Style du Body **/
    font-family: 'Raleway';
    background: #782221;
    width: 1160px;
    text-align: center;
    margin: 0;
}

footer { /** Style du Footer **/

}
img {
    border-radius: 50%;
    border: 2px solid black;
    box-shadow: 6px 6px 25px black;
    cursor: zoom-in;
}

.bloc_header_info {
    background: #2c1d27;


}
.bloc_header_info ul {
    padding: 15px;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.bloc_header_info li {
    display: block;
    flex: 1;
    color: white;
    list-style: none;
}

.bloc_header_info a {
    color: white;
    text-decoration: none;
}


.bloc_global_info {
    display: block;
    float: left;
    color: white;
    
}

.bloc_global_info h3 {
    background: #dbc2a4;
    color: black;
    text-align: left;
    padding-left: 15px;
    
}

.bloc_global_info li {
    list-style: none;
    text-align: left;
}


.bloc_global_exppro {
    display: block;
    float: center;
}

.bloc_global_exppro h3 {
    background: #dbc2a4;
}

.bloc_global_exppro li {
    list-style: none;
}


.bloc_global_formation {
    display: block;
    float: center;
}