@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap');
@font-face {
    font-family: 'Raleway';         /** Importation des fonts **/
    src: url('../fonts/Raleway.ttf');
} 

* {
    font-family: 'Lato'; /** Style global **/
    
}

header { /**Style du Header**/
    text-align: center;
}

body { /** Style du Body **/
    background: #782221;
    width: 1160px;
    text-align: center;
    margin: 0;
}

footer { /** Style du Footer **/

}

.info ul {
    background: #2c1d27;
    display: flex;
    justify-content: space-between; 
    align-items: stretch;    
    height: 100%;
    padding: 15px;
    gap: 5px;
    padding: 20px 20px 20px 20px;
    text-decoration: none; 
}
a {
    text-decoration: none;
    color: white;

}

li {
    list-style: none;
}

img {
    border-radius: 50%;
    border: 2px solid black;
    box-shadow: 6px 6px 25px black;
    cursor: zoom-in;
}


.bloc {
    display: flex;
    flex-wrap: wrap;
}
.bloc_1 h3 {
    flex: 100%;
    display: block;
    background-color: #dbc2a4;
    text-align: left;
    padding: 6px;
    border: 10px 10px 10px #dbc2a4;
}

.bloc_2 {
    flex: 70%;
    padding: 20px;
    text-align: left;
    background: white;
}

.bloc_3 {
    flex: 50%;
    padding: 20px;
    text-align: left;
    background: white;
    margin: 18px;
}

.bloc_4 {
    flex: 50%;
    padding: 20px;
    text-align: left;
    background: white;
    margin: 18px;
}